//Variables
$field-color1: #bfa3b2;
$field-color2: #456b8c;
$field-color3: #7ea1bf;
$field-color4: #132f40;
$field-color5: #3c5e73;
$field-color6: #f2cc39;
$field-color7: #ffffff;

// sizes
// $field-height: 65px;
// $field-border-radius: 8px;
