.aboutme__Container {
  //   border: 2px greenyellow dotted;
  margin: 8% auto;
  //   @include flex-center;
  //   background-color: $field-color4;
  width: 90%;
  height: 60vh;
}

.aboutme__title {
  //   border: 2px rgb(47, 144, 255) dotted;
  @include flex-center;
  flex-direction: column;
  color: $field-color1;
  font-size: 2rem;
  text-decoration: underline;
}
.aboutme__Header {
  //   border: 2px rgb(161, 47, 255) dashed;
  @include flex-center;

  padding-top: 4%;
  font-size: 2rem;
  color: $field-color6;
  text-decoration: none;
}
.aboutme__Main {
  //   border: 2px rgb(255, 141, 47) dotted;
  @include flex-center;

  padding-top: 2%;
  color: $field-color7;

  font-size: 1.5rem;
}
