body {
  width: 100vw;
  height: 100vh;
  // border: 2px yellowgreen dashed;
  background: linear-gradient(345deg, #3c5e73, #456b8c, #132f40);
  background-size: 420% 410%;
  animation: gradient 25s ease infinite;
  // background-color: $field-color5;
  color: $field-color7;
  // overflow: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.header {
  // margin: 0 auto;
  // margin-left: 3rem;
  // border: 2px red dotted;
  width: 100%;
  height: 4rem;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // position: relative;
  z-index: +1;
}

.mainContainer {
  // border: 2px tan dashed;
  width: 100%;
  // height: 29.6rem;
  height: 86vh;
  // padding-bottom: 4rem;
  z-index: -1;
  position: absolute;
}
// .herosection__container {
//   // border: 2px rgb(172, 77, 77) dotted;
//   width: 50rem;
//   height: 38rem;
//}
.herosection {
  // border: 2px gainsboro dotted;
  width: 50rem;
  height: 28rem;
  display: flex;
  justify-items: center;
  // position: absolute;
  margin-top: 10rem;
  @include flex-center;
  z-index: -1;

  .herotext {
    color: $field-color1;
    font-size: 2rem;
    font-weight: 600;
  }
  ul {
    list-style: none;
  }
  li {
    @include flex-center;
    // word-spacing: 0.2rem;
  }
  h1 {
    font-size: 5.5rem;
    color: $field-color6;

    font-weight: 900;
  }
}

.shape3__container {
  // border: 2px red dashed;
  display: flex;
  justify-content: flex-end;
  // width: 120%;
  // padding-top: 15%;
}

.footer__Container {
  // border: 2px fuchsia dotted;
  @include flex-center;
  color: $field-color7;
  // margin-top: 12%;
  // height: auto !important;
  height: 4rem;
  font-size: 0.8rem;
  font-weight: 100;
  position: fixed;
  width: 100%;
  bottom: 0;
  // font-style: inherit;
}
