.header {
  @include flex-center;
}

// .header li {
//   display: inline;
// }
// .header ul {
//   width: 10%;
//   display: flex;
//   justify-content: space-evenly;
// }
.logoNav {
  // border: 2px blue dashed;
  font-family: "Monoton", cursive;
  font-size: 3rem;
  margin-top: 4.5rem;
  padding-left: 2rem;
  color: $field-color2;
  font-weight: 100;

  // font-style: bold;
}
.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 90%;
  list-style-type: none;
  height: 4rem;
  // border: 2px green dotted;
  // nav {
  //   // display: inline;
  //   // display: flex;

  //   // @include flex-center;
  //   // list-style-type: none;
  //   // transform: rotate(180deg);
  // }
  li {
    // display: inline;
    text-align: center;
    // color: $field-color2;
    // transform: rotate(180deg);

    // display: flex;
    // flex: 0 0 auto;
    justify-content: center;
    float: right;
    flex-direction: row-reverse;
    // border: 2px rgb(67, 134, 196) dotted;
    width: 8rem;
    // height: 4rem;
  }
  nav li:hover {
    background-color: $field-color1;
  }
  a {
    color: $field-color6;
  }
  nav li a:hover {
    background-color: $field-color2;
    color: $field-color7;
  }
}

.projectsGallery {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 5rem;
}
.project_Image {
  width: 5rem;
}

.aboutme__Container {
  border: 2px greenyellow dotted;
  // @include flex-center;
  background-color: $field-color4;
  width: 100%;
  height: 60%;
}

.aboutme__title {
  border: 2px rgb(47, 144, 255) dotted;
  @include flex-center;
  flex-direction: column;

  font-size: 2rem;
}
.aboutme__Header {
  border: 2px rgb(161, 47, 255) dashed;
  font-size: 1.5rem;
}
.aboutme__Main {
  border: 2px rgb(255, 141, 47) dotted;
  font-size: 1.5rem;
}
