// .header {
//   @include flex-center;
// }

.header li {
  display: inline;
}
.header ul {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
}
.logoNav {
  // border: 2px blue dashed;
  font-family: "Monoton", cursive;
  font-size: 3rem;
  margin-top: auto;
}
