.header {
  @include flex-center;
}

// .header li {
//   display: inline;
// }
// .header ul {
//   width: 10%;
//   display: flex;
//   justify-content: space-evenly;
// }
.logoNav {
  // border: 2px blue dashed;
  font-family: "Monoton", cursive;
  font-size: 3rem;
  margin-top: 4.5rem;
  padding-left: 2rem;
  color: $field-color2;
  font-weight: 100;

  // font-style: bold;
}
.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 90%;
  list-style-type: none;
  height: 4rem;
  // border: 2px green dotted;
  // nav {
  //   // display: inline;
  //   // display: flex;

  //   // @include flex-center;
  //   // list-style-type: none;
  //   // transform: rotate(180deg);
  // }
  li {
    // display: inline;
    text-align: center;
    // color: $field-color2;
    // transform: rotate(180deg);

    // display: flex;
    // flex: 0 0 auto;
    justify-content: center;
    float: right;
    flex-direction: row-reverse;
    // border: 2px rgb(67, 134, 196) dotted;
    width: 8rem;
    // height: 4rem;
  }
  li:hover {
    background-color: $field-color1;
  }
  a {
    color: $field-color6;
  }
  li a:hover {
    background-color: $field-color2;
    color: $field-color7;
  }
}
.heroProSection {
  @include flex-center;
}
.heroProjtext {
  @include flex-center;
  // margin-top: 10%;
}
.projects__container {
  // border: 2px green dotted;
  margin: 10% auto;
  display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // padding-left: 0;
  // justify-content: center;
  // align-items: center;

  // width: 70%;
  // height: 70%;
  width: 70vw;
  //height: 70vh;

  // justify-content: space-between;
}
.project_link {
  width: 250px;
  height: 250px;
}

.projectsGallery {
  // border: 2px red dotted;

  display: flex;
  // flex: 0 0 33.333333%;
  text-align: center;

  justify-content: space-between;
  flex-wrap: wrap;
  // width: 30%;
  // height: 100%;
  // li {
  //   border: 2px darkturquoise dashed;
  //   width: 3rem;
  //   height: 9rem;
  // }
}
.project_Image {
  border: 1px $field-color1 solid;
  // flex: 0 0 33.333333%;

  width: 100%;
  height: 90%;
  text-align: center;
}
